################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AlarmsAndClocksWinAppDriverUdemyCourse/v16
/obj
